@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);



html, body{
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial,serif;
	font-size: 1em;
    font-weight: 300;
	padding: 0;
	margin: 0;
	height: 100%;
}

#wrapper{
    min-height: 100%;
    position: relative;
}


#contenedor{
    padding-bottom: 1000px;
}

h1{
    font-weight: 400;
}

h2{
    font-weight: 400;
}

a{
	text-decoration: none;
}

a:hover{
	opacity: 0.6;
}

.albumes a{
	color: #000;
	border-bottom: 1px #000 solid;
}



#cuerpoInicio{
	padding-top: 50px;
	text-align: center;
    height: 600px;
    padding-right: 40px;
}

#cuerpoResBusq{
	min-height: 80.1%;
	padding-top: 60px;
	padding-bottom: 50px;
}

.ordenNombre{
	font-size: 0.8em;
	font-weight: 700;
}

#cuerpoBusq{
	min-height: 80.1%;
	padding-top: 60px;
	padding-bottom: 50px;
}

#cuerpoNuevoAlbum{
    min-height: 80.1%;

    padding-bottom: 50px;
}

#cuerpoFoto{
	min-height: 85.1%;
	padding-top: 40px;
	padding-bottom: 190px;

}


#listaResultado li{
    margin-bottom: 30px;
}

#listaResultado img{
    height: 200px;
}

.imageHolder {
    position: relative;
    width: 100%;
    height: 100%;
}
.imageHolder .caption {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    padding-left: 20px;
    color: #ffffff;
    font-weight:bold;
    text-align: left;
    background: rgba(1,1,1,0.5);
    opacity: 0;
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;
}

.imageHolder:hover .caption, .imageHolder:hover a{
    opacity: 1;
}

.am-wrapper{
    float:left;
    position:relative;
    overflow:hidden;
}
.am-wrapper img{
    position:absolute;
    outline:none;
}



.foto h2,.foto p, #cuerpoResBusq h2, #cuerpoResBusq h4, .ordenes, .comentarios{
	padding-left: 40px
}

.foto h2, .foto p{
	text-align: left;
}


.foto{
	padding: 20px 0 20px 0;
	margin-bottom: 40px;
	text-align: center;
	background: #fff;
	color: #000;
}

.foto img{
    max-width: 900px;
}


.datosFoto, .albumes{
	float: right;
	margin-right: 50px;
}

.albumes ul{
	float: right;
}





#cuerpoCuenta{
    margin-top: 50px;
    height: 150%;

}



#cuerpoCuenta a{
    color: black;
}

.floatRight{
    float: right;
}



.headerUsuario{
    background: url('https://ununsplash.imgix.net/photo-1415226161018-3ec581fa733d?q=75&fm=jpg&s=e3b2f96ffa81ec79445ba2f90ef1c672') no-repeat center ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 350px;
    color: white;
    position: relative;

}

.descUsuario{
    background-color: rgba(40,40,40,0.3);
    position: absolute;
    bottom: 0;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.imgUser{
    width: 70px;
    height: 70px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://cdn.bavotasan.com/wp-content/uploads/2011/02/desktop.jpg) no-repeat center;
    background-size: 100%;
    border: medium solid;
}

.imgUser img {
    width: 60px;
    height: 60px;
    opacity: 0;
    filter: alpha(opacity=0);
}



.navUsuario{
    padding-left: 10px;
    padding-bottom: 50px;

}

.listNavUsuario{
    vertical-align: middle;
}


#footer{
    bottom: 0;
    position: absolute;
    width: 100%;
	background: #2c3e50;
	color: #ecf0f1;
	margin: 0 auto;
	height: 50px;

}
#footer a{
	color: #ecf0f1;
}

.footerNav{
	padding-top: 5px;
}

#cuerpoReg{
    height: 100%;
    background: #242628;

}
.atrasRegistro a{
    color: white;
}
.registro{
	width: 350px;
	height: 500px;
	color: white;
    margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}

.registrarse{
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2f8cde;
    border: 0;
    border-bottom: 2px solid #267dc9;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #267dc9;
    box-shadow: inset 0 -2px #267dc9;
    width: 300px;
    height: 30px;
    margin-top: 10px;
}


.contenedor{
	width: 350px;
	height: 120px;
	float: right;
	margin-right: 45px;
    margin-top: -150px;
}

.seleccion{
    margin-left: 150px;
    padding-top: 90px;
    color: white;
    width: 350px;
}

.seleccion a{
    color: white;
}


.registroForm, .basicRegistr{
	width: 280px;
	margin: 0 auto;
	padding-top: 20px;
}

.actualizarForm{
    width: 290px;
    margin: 0 auto;
    padding-top: 10px;

}

.errorMsg{
     background: rgba(192, 57, 43, 0.7);
     text-align: center;
     color: white;
     width: 250px;
     margin: 20px auto 0;
     height: 30px;
     padding-top: 10px;
     border-radius: 5px;

 }

.errorMsgHeader{
    background: rgba(192, 57, 43, 0.9);
    text-align: center;
    color: white;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
    padding-left: 25px;

}

.successMsg{
    background: rgba(39, 174, 96,0.7);
    text-align: center;
    color: white;
    width: 250px;
    margin: 20px auto 0;
    height: 30px;
    padding-top: 10px;
    border-radius: 5px;

}

.busqueda{
	padding-left: 40px;
}

.busquedaForm{
	padding-top: 10px;
	width: 350px;
	text-align: left;
}

.crearAlbum{
    padding-left: 40px;
}

.crearAlbumForm{
    padding-top: 10px;
    width: 350px;
    text-align: left;
}

.subirFotos{
    margin: 100px auto 0;
    width: 700px;
    height: 200px;
    border: dashed 4px #2c3e50;
    text-align: center;
}

.fotosPerfil{
    height: 900px;
}


.contenedor form input[type=text],
.contenedor form input[type=password],
.contenedor form input[type=email],
.registro form input[type=text],
.registro form input[type=password],
.registro form input[type=email],
.busquedaForm input[type=text],
.crearAlbumForm input[type=text],
.crearAlbumForm select,
.registro select,
.busqueda select,
.actualizarDatos select,
.actualizarDatos form input[type=text],
.actualizarDatos form input[type=password],
.actualizarDatos form input[type=email]{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #eee;
  border: none;
  outline: none;
}

input[type="search"], .login input[type='text'], .login input[type='password']{
    color:#000;
/*removing boder from search box*/
    border:none;
    background-color:#bdc3c7;
}

.hidden{
    display: none;
}

#confirmarEliminar{
    position: absolute;
    top: 0;
    height: 120%;
    width: 100%;
    z-index: 20;
    background: #fff;
    text-align: center;
    padding-top: 30%;

}


.formEliminar form input[type=password]{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 15px;
    margin-top: 15px;
    background: #eee;
    border: none;
    outline: none;

}

button{
    margin-top: 18px;
    vertical-align: top;
    width: 100px;
    height: 25px;
    padding: 0;
    font-size: 12px;
    color: white;
    text-align: center;

}
.eliminar{
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #c0392b;
    border: 0;
    border-bottom: 2px solid #b53224;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #b53224;
    box-shadow: inset 0 -2px #b53224;
}
.cancelar{
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #27ae60;
    border: 0;
    border-bottom: 2px solid #219d55;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #219d55;
    box-shadow: inset 0 -2px #219d55;
    margin-left: 220px;
}



#navegacion{
	width: 100%;
	top: 0;
	background: #2c3e50;
	height: 50px;
	position: fixed;
    z-index: 10;
}

.navegacion{
	padding-bottom: 14px;
	color: #ecf0f1;
}

#navegacion a{
	color: #ecf0f1;
}

#navegacion h1{
	margin-top: -5px;
}



#header {
	height: 732px;
	background: url('../img/foto2.jpg') no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    margin-top: 50px;
}




h1, h2{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}
li{
	display: inline;
	float: left;
	padding-right: 30px;
}


.listDatosUsuario li{
    display: block;
    float: none;
}


/* #Nephritis Flat Button
==================================================*/
.button {
  margin-top: 8px;
  vertical-align: top;
  width: 105%;
  height: 25px;
  padding: 0;
  font-size: 12px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #34495e;
    border: 0;
    border-bottom: 2px solid #2c3e50;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2c3e50;
    box-shadow: inset 0 -2px #2c3e50;
}
.button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


